    /* General style */
    a {
        text-decoration: none;
        color: rgb(33, 122, 253)
    }

    h1 {
        color: rgb(195, 208, 229);
        font-size: 50px;
        font-weight: bold;
        padding-top: 4%;
        padding-bottom: 1%;
        margin-bottom: 3%;
    }

    h2,
    h3 {
        margin-bottom: 2%;
        font-weight: 700;
        color: rgb(195, 208, 229);
    }

    h2 { 
        color: rgb(195, 208, 229);
    }

    h3 {
        font-size: 1.3rem;
        margin-top: 5%
    }

    pre {
        background-color: rgb(32, 32, 32) !important;
    }

    .highlight {
        margin-bottom: 2%;
        
    }

    strong {
        color: rgb(195, 208, 229);
    }

    code {
        color: rgb(64, 134, 190);
        background-color: #282c34 !important;
        padding: 4px 6px; 
        font-size: 90%;
    }

    .highlight code {
        padding: 20px 15px !important;
    }

    hr {
        margin: 5% 0%;
        border-color: rgb(105, 105, 105);
    }


    /* Text color */
    .text-red {
        color: rgb(239 68 68);
    }

    .text-orange {
        color: rgb(249 115 22);
    }

    .text-green {
        color: rgb(34 197 94);
    }


    /* Main content style */
    .tips, .notes, .warning {
        padding: 10px 20px;
        margin-bottom: 3%;
        margin-top: 3%;
        background-color: rgb(33, 37, 41);
    }

    .tips {
        border-left: 3px solid greenyellow;
    }

    .notes {
        border-left: 3px solid #3b82f6;
    }

    .warning {
        border-left: 3px solid orange;
    }

    .btn-dark {
        padding-top: 2%;
        padding-bottom: 2%;
        font-weight: 400;
        border: 1px solid rgb(82, 82, 82);
    }

    .card {
        background-color: #1e1f22;
        border: 1px solid rgb(82, 82, 82);

    }

    figure {
        text-align: center;
    }

    figcaption {
        margin-top: 1%;
        font-size: smaller;
    }

    .details {
        margin-bottom: 10px;
    }

    thead {
        border-bottom: 4px solid rgb(82, 82, 82);
    }

    input {
        background-color: rgb(19, 20, 22) !important;
        border: 1px solid rgb(55, 59, 62) !important;
        color: white !important;
    }

    input::placeholder {
        color: rgb(121, 121, 121) !important;
    }


    /* Top bar style */
    .navbar-brand-blur {
        position: relative;
        display: inline-block;
        color: white;
        text-decoration: none;
        border-radius: 8px;
        overflow: visible;
    }

    .navbar-brand-blur::before {
        content: "";
        position: absolute;
        top: -27%;
        left: -50%;
        width: 230%;
        height: 140%;
        background-color: #002BFE;
        background-size: cover;
        background-position: center;
        filter: blur(80px);
        z-index: -1;
        mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
    }

    .navbar-brand-blur::after {
        content: "";
        position: absolute;
        top: 0;
        left: -10px;
        right: -10px;
        bottom: 0;
        background: inherit;
        filter: blur(15px);
        opacity: 0.6;
        z-index: -2;
    }




    /* TableOfContents & Index style */
    #TableOfContents {
        border-left: 1px solid rgb(51, 51, 51);
    }

    #TableOfContents ul,
    #index ul {
        list-style: none;
        padding-left: 0;
    }

    #TableOfContents li a{
        padding-left: 15px;
    }

    #TableOfContents li a,
    #index li a {
        display: block;
        padding-top: 5px;
        padding-bottom: 5x;
        text-decoration: none;
        transition: 0.3s;
        color: rgb(185, 194, 214);
        opacity: 0.8;
        font-size: 15px;
    }

    #TableOfContents li a.active,
    #index li a.active {
        color: #00CCFF;
        font-weight: 550;
    }

    #TableOfContents li a:hover,
    #index li a:hover {
        color: white;
        text-decoration: underline;
    }

    #TableOfContents ul ul {
        padding-left: 15px;
    }

    #index ul ul {
        padding-left: 15px;
    }

    .sections {
        margin-bottom: 10px;
    }



    /* Scrollbar style (Chrome, Edge, Safari) */
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 8px;
        background-color: rgb(26, 26, 26);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: rgb(0, 204, 255);
    }


    /* Section settings */
    body {
        align-items: center;
        font-family: 'Inter', sans-serif;
        font-size: 17.5px;
        background-color: rgb(19, 20, 22);
        color: rgb(155, 163, 180);
    }

    .top-bar {
        position: sticky;
        font-size: x-large;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: rgba(37, 43, 43, 0.75);
        background-repeat: no-repeat;
        backdrop-filter: blur(15px);
        color: white;
        align-items: center;
        padding: 0 15px;
        z-index: 1000;
    }

    .main-container {
        max-width: 1700px;
    }

    .main-content {
        padding: 0% 5% !important;
    }

    .sidebar-right {
        max-width: 275px;
    }

    .site-nav {
        max-width: 300px;
        border-right: 1px solid rgb(51, 51, 51);
        clip-path: inset(20px 0 20px 0);
    }

    .site-nav:hover,
    .sidebar-right:hover {
        overflow-y: auto;
    }

    .site-nav,
    .sidebar-right {
        position: sticky;
        top: 50px;
        height: calc(100vh - 50px);
        overflow-y: hidden;
        scrollbar-gutter: stable;
    }

    .bottom-of-page {
        margin-top: 80px;
        padding-top: 30px;
        border-top: 1px solid rgb(82, 82, 82);
        padding-bottom: 30px;
        font-size: 15px;;
    }

    @media (max-width: 992px) {
        .site-nav {
            position: static;
            width: 100%;
            height: auto;
            max-width: none;
        }

        .main-content {
            padding: 0% 1% !important;
        }
    }